body {
  background-color: #f2f7ff;
  font-family: 'Shadows Into Light', cursive;
  color: #393e46;
  font-size: 24px;
  line-height: 1.5;
}

h1,h2,h3 {
  color: #0d627a;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

li {
  color: #10316b;
  text-decoration: underline;
}

li:hover{
  text-decoration: none;
}

.box {
  width: 500px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 10px 10px;
  border:solid;
}

.text-center{
  text-align: center;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .box {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .box {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .box {
    width: 300px;
  }
}
